<div style='border: 3px dashed red'>
  <% if @visitor %>
    Hello, <%= @visitor %>!
  <% else %>
    <form action='/hello'>
      My name is <%= @name %>
      What's your name?
      <input type='text' name='name'>
      <input type='submit' value='submit'>
    </form>
  <% end %>
  <img src='http://localhost:4567/images/cat.png'>
</div>
