<div style='border: 3px dashed red'>
  <% if @visitor %>
    Hello, <%= @visitor %>!
  <% end %>
  <% if @name %>
    My name is <%= @name %>
  <% end %>
  <img src='https://icatcare.org/app/uploads/2018/07/Thinking-of-getting-a-cat.png'>
</div>
